extends layoutdash

block dashcontent
    script(src='//tinymce.cachefly.net/4.2/tinymce.min.js')
    script tinymce.init({selector:'textarea'});
    h2.page-header Create New Lesson Plan
    form
        label(for='lessonTitle') Title
        input#lessonTitle.form-control(type='text' placeholder='Title of lesson plan')
        p
        .row
            .col-md-6
                .form-group
                    label(for='subject') Subject
                    select.form-control
                        option Math
                        option Science
                        option English
            .col-md-6
                .form-group
                    label(for='unit') Unit
                    select.form-control
                        option Unit 1
                        option Unit 2
                        option Unit 3
        p
        .row
            .col-md-8
                .form-group
                    label(for='lessonlink') Link this to another lesson
                    select.form-control
                                option Lesson 1
                                option Lesson 2
                                option Lesson 3
            .col-md-4
                .form-group
                    label(for='lessonlink') Duration of Lesson
                    form.form-inline
                        .form-group
                            .input-group
                                input#exampleInputAmount.form-control(type="text" placeholder="Duration")
                                .input-group-addon Days
        p
        .row
            .col-md-8
                .form-group
                    label(for='lessonPlan') Lesson Plan
                    textarea#lessonText.form-control(rows='10' placeholder='Lesson Plan')
            .col-md-4
                .form-group
                    label(for='lessonExpectations') Expectations
                    textarea#lessonText.form-control(rows='10' placeholder='Expectations')
        p
        .form-group
            .attachmentgroup
                label(for='attachments') Attachments
                input#Attachments(type="file")
            p
            a(href='#') Add More