extends ../layout

block content
    - if (user)
        .row
            include nav
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                - if (message != '')
                        .alert.alert-warning #{message}
                block dashcontent
    - if (!user)
        a(href='login') Please log in