nav
    ul.nav.nav-justified.nav-submenu
        - var objUser = { 'newcourse':'Enrol in a new class', 'newentry':'New Lesson Plan', 'viewlps':'View My Lesson Plans', 'organizer': 'Organizer' }
            - each val, key in objUser
                -if (id == key)
                    li.active
                        a(href='#{key}') #{val}
                -else
                    li
                        a(href='#{key}') #{val}