extends layoutdash

block dashcontent
        - if (message)
        form#formAddCourse.form-newCourse(name="newcourse",method="post",action="/createcourse")
                h2.page-header Enrol in a new course
                label.form-group-lg(for='courseGrade') Grade
                - var courseNumber = 1
                select#courseGrade.form-control.input-sm(name="courseGrade")
                        while courseNumber <= 12 
                                option= courseNumber++
                label(for='courseSubject') Subject
                select#courseSubject.form-control.input-sm(name="courseSubject")
                        - each val in [ 'Math', 'Science', 'English', 'Social Studies', 'Geography', 'History']
                                option #{val}
                p
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Add Course