extends layoutdash

block dashcontent
        .row
                .col-md-8
                        form#formAddCourse.form-newCourse(name="newcourse",method="post",action="/createcourse")
                                h3.page-header Enroll in a new course
                                label.form-group-lg(for='courseGrade') Grade
                                - var courseNumber = 1
                                select#courseGrade.form-control.input-sm(name="courseGrade")
                                        while courseNumber <= 12 
                                                option= courseNumber++
                                label(for='courseSubject') Subject
                                select#courseSubject.form-control.input-sm(name="courseSubject")
                                        - each val in [ 'Math', 'Science', 'English', 'Social Studies', 'Geography', 'History']
                                                option #{val}
                                p
                                button.btn.btn-lg.btn-primary.btn-block(type="submit") Add Course
                .col-md-4
                        if (teachercourses && teachercourses.length > 0)
                                form#formAddCourse.form-newCourse(name="removecourse",method="post",action="/removecourse")
                                        h3.page-header Remove a course
                                        label.form-group-lg(for='Course') Course
                                        select#courseGrade.form-control.input-sm(name="courseGrade")
                                                - each course in teachercourses
                                                        option #{course.grade} #{course.subject}
                                        p
                                        button.btn.btn-lg.btn-primary.btn-block(type="submit") Remove Course