footer.footer
    .container-fluid
        .container
            .row
                .col-md-4
                    .columnwidth
                        a.navbar-brand-footer(href="/") Teachr
                .col-md-4
                    .columnVerticalMid
                        span © 2015 Teachr. All Rights Reserved
                .col-md-4
                    .columnVerticalMid
                        blockquote.blockquote-reverse Teachr has helped me so much
                            footer A grateful teacher