extends layout

block nopad-content
    .alert.alert-info Username: lisa, Password: lisaiscool
    .alert.alert-info To see other users, you can go to "My Friends", or go to your dashboard, then click a lesson. 
    .panel.statement.light
        h2 Want to improve education? So do we.
        p.subtext 
            | TeachR is a place where teachers can create lesson plans which can be shared, 
            | voted and then be built upon to improve the overall quality of those lessons. 
            | Sign up now and start educating the world!
        a.btn.btn-lg.btn-default(role='button' href='register') Sign Up!
    .panel.statement.dark
        .row
            .col-md-4
                img(src='/images/index-pen.png' height='256' width='256')
            .col-md-8
                h2.right Create
                p.subtext.right 
                    | Create your lesson plans using TeachR editors. 
                    | Plan your lessons in detail, attach handouts, and declare expectations.
    .panel.statement.light
        .row
            .col-md-8
                h2.left Share and Vote
                p.subtext.left 
                    | Organize your lesson plans and share them with other teachers. 
                    | View and rate lesson plans from other teachers after trying them out!
            .col-md-4
                img(src='/images/index-vote.png' height='256' width='256')
    .panel.statement.dark
        h2 Fork and Grow
        p.subtext 
            | Fork lesson plans from other teachers with tweaks and adjustments to improve 
            | future offerings of the lesson! 
        img(src='/images/index-fork.png' height='256' width='256')