doctype
html
    include inc/header
    body
        include inc/navigation
        .container-fluid-nopad
            block nopad-content
        .container-fluid
            block content
        include inc/footer