extends layout

block additionalHeader
    script(src='/javascripts/jsdiff.js')
    
block content
    span#first <h2>Hello my name is <i>Aamir</i>. I am really cool. how are you?</h2>
    p
    span#second Hello my name is <i>Bushra</i>. It's all good!
    p
    span#firstRes
    p
    span#secondRes
    
    script.
        function doStuff() {
            var first = document.getElementById ("first");
            var second = document.getElementById ("second");
            var firstRes = document.getElementById ("firstRes");
            var secondRes = document.getElementById ("secondRes");
            
            var firstText = first.innerHTML;
            var secondText = second.innerHTML;
            console.log(firstText);
            console.log(secondText);
            
            var output = diffString(firstText, secondText);
            
            console.log(output);
            
            firstRes.innerHTML = output;
            //secondRes.innerHTML = output.o;
        }
        
        window.onload = doStuff;
