extends ../layout

block content
    - if (!user)
        p 
        a(href='login') Please Log in
    - if (user)
        h2.page-header My Friends
        .row
            .col-md-6
                h3 Followers
                - if (myfollowers && myfollowers != '')
                    ul.list-unstyled.myfriends
                     - each follower in myfollowers
                        li
                            a(href='userinfo?id=' + follower._id.toHexString()) #{follower.name}
                - if (!myfollowers || myfollowers == '')
                    p Sorry, but nobody is following you. Get involved and this will change!
            .col-md-6
                h3 Following
                - if (myfollowing && myfollowing != '')
                    ul.list-unstyled.myfriends
                     - each following in myfollowing
                        li
                            .row
                                .col-md-8
                                    a(href='userinfo?id=' + following._id.toHexString()) #{following.name}
                                .col-md-4 
                                    a(href='unfollow?id=' + following._id.toHexString() alt="Unfollow")
                                        .text-right
                                            i.fa.fa-minus.fa-fw
                - if (!myfollowing || myfollowing == '')
                    p You don't follow anyone yet!