extends ../layout

block content
    - if (!user)
        p 
        a(href='login') Please Log in
    - if (user)
        p 
        h2.page-header My Friends
        h3 Followers
        - if (myfollowers)
            ul
             - each follower in myfollowers
                li
                    a(href='userinfo?id=' + follower._id.toHexString()) #{follower.name}
        h3 Following
        - if (myfollowing)
            ul
             - each following in myfollowing
                li
                    a(href='userinfo?id=' + following._id.toHexString()) #{following.name}