/* Sticky footer styles
-------------------------------------------------- */
html {
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
  margin-bottom: 20px;
}

.wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}
.wrap:after {
  content: "";
  display: block;
}

.footer, .wrap:after {
  height: 120px; 
}

.footer {
  width: 100%;
  border-top: 5px solid;
  border-top-color: #FF7F50 !important;
}

.footer > .container-fluid {
  background-color: #efefef;
}

.footer .container .row {
  
}

.footer .container .row .col-md-4 {
  border-right: 1px solid #a0a0a0;
  margin-top: 30px;
  margin-bottom: 40px;
  height: 80px;
}

.footer .container .row .col-md-4:last-child {
  border-right: 1px solid transparent;
}

.navbar-brand-footer {
  height: 40px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 90px;
  font-family: 'Yesteryear', cursive;
}

.footer .container .row .col-md-4 > .columnwidth {
  width:100%;
  text-align: center;
}

.footer .container .row .col-md-4 > .columnVerticalMid {
  vertical-align: middle;
  height: 100%;
  padding-top: 20px;
}

.footer .container .row .col-md-4:last-child > .columnVerticalMid {
  vertical-align: middle;
  height: 100%;
  padding-top: 0px;
}

.navbar-brand-footer:hover,
.navbar-brand-footer:focus {
  text-decoration: none;
}
.navbar-brand-footer > img {
  display: block;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 720px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
/* Sign in Page
-------------------------------------------------- */
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}

/* Sidebar navigation */
.nav-submenu > li > a:hover,
.nav-submenu {
  margin-top:-20px;
  background-color: #fbfbfb;
  height: 50px;
  line-height: 31px;
  border-bottom: 2px solid;
  border-bottom-color: #FF7F50 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 10pt;
}

.nav-submenu > li > a:hover {
  color: #FA344B !important;
  text-decoration: underline;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f2f2f2;
}

.nav-submenu > li {
  border-right: 1px solid #bbbbbb;
}

.nav-submenu  > li:last-child {
  border-right: 0px !important;
}

.nav-submenu  > li:last-child > a:hover {
  border-bottom-right-radius: 6px;
}

.nav-submenu  > li:first-child > a:hover {
  border-bottom-left-radius: 6px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 91px;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
  }
}

/*
 * Main content for dash
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.dl-horizontal {
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid;
  border-bottom-color: #FF7F50 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.myfriends {
  background-color: white;
  padding: 0px 20px 20px 20px;
  border-bottom: 2px solid;
  border-bottom-color: #FF7F50 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

form {
}

.themed {
  background-color: white;
  padding: 20px;
  margin-bottom:20px;
  border-bottom: 2px solid;
  border-bottom-color: #FF7F50 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
} 

.myfriends > li {
  border-bottom: 1px solid;
  border-bottom-color: #e8e8e8 !important;
  padding-top: 20px;
  padding-left: 10px
}

.myfriends > li:hover {
  border-bottom-color: #a8a8a8 !important;
}

.lessonText {
  background-color: white;
  margin-bottom:20px;
  border-bottom: 2px solid;
  border-bottom-color: #FF7F50 !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.noHeight {
  height: 0px;
  margin-bottom: 0px;
}

.largeButtonTopMarginReduction {
  margin-top: -22px;
}

.ta-toolbar {
  margin-bottom: 10px;
}

.btn-forkedLessons {
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
}

.btn-forkedLessons:hover {
  color: #fff;
  background-color: #bbb;
  border-color: #aaa;
}